html,
body {
  box-sizing: border-box;
  color: $c-main;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: $main-size;
  line-height: 1.5em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $c-main-3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $c-main-4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff7a3394;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
