a.c-ProductCard(href="$" data-js="ProductCard")
  .c-ProductCard__img
    img(src="../assets/images/product.jpg" alt="Product")
  .c-ProductCard__desc
    h2.c-ProductCard__name Ziemniaki
    p.c-ProductCard__price 132,00 zł
    p.c-ProductCard__sells 120 osób kupiło