/* Module: Window */
.m-Window {
  position: fixed;
  width: 400px;
  height: 600px;
  top: 0;
  right: 0;
  padding: 32px;
  background-color: $c-main-1;
  border-bottom: 1px solid $c-main-2;
  border-left: 1px solid $c-main-2;

  /* Element of Module */
  &__wrapper {
    position: relative;
    width: 100%;
    height: calc(100% - 32px);
    overflow-y: auto;
  }
  &__login {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: $c-main-4;
    color: $c-main-3;
    text-decoration: none;
    font-size: 1.5rem;
  }
}
